{% extends 'products/base.html' %}
{% load static%}

{% block css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<!-- Page Content -->
<section>
    <!--    <div class="alert alert-light text-center" role="alert">-->
    <!--        Информационное сообщение-->
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Proactive</h1>
                <p>
                    Магазин спортивной одежды.
                    Бесплатная доставка по Казахстану! -20% новым покупателям.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Начать покупки
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock  %}


