{% extends 'products/base.html' %} 
{% load static humanize%} 
{% block title %}{{ product.name }} {% endblock %} 

{% block css %}
<!-- Custom styles for this template -->
<link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock  %}

{% block breadcrumb %}
<div class="container">
  <div class="breadcrumb">
      <a href="/">Home</a> /
      <a href="{% url 'products:category' product.category.id %}">{{ product.category.name }}</a> /
      <span class="current">{{ product.name }}</span>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- content -->
<section class=" " >
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a
            data-fancybox="mygalley"
            class="fancybox"
            target="_blank"
            data-type="image"
            href="{{ product.images.first.image.url }}"
          >
            <img
              style="max-width: 100%; max-height: 100vh; margin: auto"
              class="rounded-4 fit"
              src="{{ product.images.first.image.url }}"
            />
          </a>
        </div>
        <div class="d-flex justify-content-center mb-3">
          {% for image in product_images %}
          <a
            href="{{ image.image.url }}"
            class="border mx-1 rounded-2 fancybox"
            data-fancybox="images"
          >
            <img
              width="60"
              height="60"
              class="rounded-2"
              src="{{ image.image.url }}"
            />
          </a>
          {% endfor %}
        </div>
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6">
        <form method="POST">
          {% csrf_token %}
        <div class="ps-lg-3">
          <h4 class="title text-dark">{{ product.name }}</h4>

          <div class="mb-3">
            <span class="h5">{{ product.price|intcomma }} тг.</span>
            <span class="text-muted">/шт.</span>
          </div>

          {{ product.short_description|safe }}

          <hr />

          </div>
          <a class="btn btn-outline-success btn add-to-basket" href="{% url 'baskets:basket_add' %}" data-product-id="{{ product.id }}">
            {% csrf_token %}
            <i class="me-1 fa fa-shopping-basket"></i> Добавить в корзину
        </a>
        </div>
      </form>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<section class="bg-light border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-8 mb-4">
        <div class="border rounded-2 px-3 py-2 bg-white">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item d-flex" role="presentation">
              <a
                class="nav-link d-flex align-items-center justify-content-center w-100 active"
                id="ex1-tab-1"
                data-mdb-toggle="pill"
                href="#ex1-pills-1"
                role="tab"
                aria-controls="ex1-pills-1"
                aria-selected="true"
                >Описание товара</a
              >
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a
                class="nav-link d-flex align-items-center justify-content-center w-100"
                id="ex1-tab-2"
                data-mdb-toggle="pill"
                href="#ex1-pills-2"
                role="tab"
                aria-controls="ex1-pills-2"
                aria-selected="false"
                >Доставка</a
              >
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a
                class="nav-link d-flex align-items-center justify-content-center w-100"
                id="ex1-tab-3"
                data-mdb-toggle="pill"
                href="#ex1-pills-3"
                role="tab"
                aria-controls="ex1-pills-3"
                aria-selected="false"
                >Условия возврата</a
              >
            </li>
          </ul>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content" id="ex1-content">
            <div
              class="tab-pane fade show active"
              id="ex1-pills-1"
              role="tabpanel"
              aria-labelledby="ex1-tab-1"
            >
              <p>
                {{ product.description|safe }}
              </p>
            </div>
            <div
              class="tab-pane fade mb-2"
              id="ex1-pills-2"
              role="tabpanel"
              aria-labelledby="ex1-tab-2"
            >
            {{ delivery_info_long.text|safe }}
            </div>
            <div
              class="tab-pane fade mb-2"
              id="ex1-pills-3"
              role="tabpanel"
              aria-labelledby="ex1-tab-3"
            >
            {{ return_info.text|safe }}
            </div>
          </div>
          <!-- Pills content -->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Похожие товары</h5>
              
              {% for similar_product in similar_products %}
              <div class="d-flex mb-3">
                <a href="{% url 'products:product-detail' pk=similar_product.pk %}" class="me-3">
                  <img
                    src="{{ similar_product.images.first.image.url }}"
                    style="min-width: 96px; height: 96px"
                    class="img-md img-thumbnail"
                  />
                </a>
                <div class="info">
                  <a href="{% url 'products:product-detail' pk=similar_product.pk %}" class="nav-link mb-1">
                    {{ similar_product.name }}
                  </a>
                  <strong class="text-dark"> {{ similar_product.price|intcomma }} тг.</strong>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} 
{% block footer %}
<!-- Footer -->
<footer class="py-4 bg-dark footer-static">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Proactive 2022</p>
  </div>
  <!-- /.container -->
</footer>
{% endblock %}


